{% extends "base.html" %}
{% block content %}
<div class="container">
  <h1>Das Forschungsprojekt Subscription Canvas</h1>
  <br>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

<br>
<div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" class="d-block w-100" alt="">
          </div>
        </div>
    </div>
</div>

<br>

<div class="container">
    <div class="jumbotron">
    <div class="row">
      <div class="col">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci dignissimos ducimus earum esse exercitationem facere facilis in ipsa nisi nostrum officia, omnis perferendis quaerat quos rem sed sunt? Accusantium, nisi!
      </div>
      <div class="col">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aut consequuntur culpa cumque exercitationem harum nesciunt nobis quas reiciendis sapiente! Culpa cumque dolorem dolorum esse id! Aliquam aperiam sed similique.
      </div>
      <div class="col">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab assumenda beatae culpa dicta doloremque dolores eligendi ipsa, itaque iusto modi nemo pariatur quas quod reprehenderit sint suscipit tenetur voluptate!
      </div>

    </div>
  </div>
</div>

<br>

{% endblock %}
