{% extends "base.html" %}
{%block head_content%}

{% endblock %}

{% block content %}

<div class="container">
  <h1>Subscription Canvas Overview</h1>
  <br>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

<br>

<!-- Canvas -->
<div class="container">
    <h5>Start your Subscription Business Model here ...</h5>
<div class="table-responsive-sm">
    <table class="table table-borderless">
        <tbody>
            <!-- Upper part -->
            <tr>
                <td colspan="6">
                  <div class="card bg-light">
                    <div class="card-body">
                      <h5 class="card-title">Initial Subscription Business Hypothesis Quick Check</h5>
                      <p class="card-text">Develop and test your initial subscription business hypothesis here.</p>
                      <a href="{{ url_for('quick_check.quick_check') }}" class="btn btn-primary">Start Quick Check</a>
                    </div>
                  </div>
                </td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="card bg-light">
                    <div class="card-body">
                        <h5 class="card-title">Key Activities</h5>
                        <p class="card-text">Find some more information, guidelines, tools, etc. here.</p>
                        <a href="#" class="btn btn-primary">Start Canvas Tool Key Activities</a>
                    </div>
                </div>
              </td>
              <td colspan="2" rowspan="2">
                <div class="card bg-light">
                    <div class="card-body">
                        <h5 class="card-title">Value Proposition</h5>
                        <p class="card-text">Find some more information, guidelines, tools, etc. here.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus aspernatur deleniti dolorum itaque magni mollitia nobis non quisquam quod. Aperiam dignissimos itaque, quaerat quasi saepe temporibus vero. Nam, quam?</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus aspernatur deleniti dolorum itaque magni mollitia nobis non quisquam quod. Aperiam dignissimos itaque, quaerat quasi saepe temporibus vero. Nam, quam?</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus aspernatur deleniti dolorum itaque magni mollitia nobis non quisquam quod. Aperiam dignissimos itaque, quaerat quasi saepe temporibus vero. Nam, quam?</p>
                        <a href="#" class="btn btn-primary">Start Canvas Tool Value Proposition</a>
                    </div>
                </div>
              </td>
              <td colspan="2">
                <div class="card bg-light">
                    <div class="card-body">
                        <h5 class="card-title">Customer Relationship</h5>
                        <p class="card-text">Find some more information, guidelines, tools, etc. here.</p>
                        <a href="#" class="btn btn-primary">Start Canvas Tool Customer Relationship</a>
                    </div>
                </div>
              </td>
            </tr>
            <!-- Lower part -->
            <tr>
              <td colspan="2">
                <div class="card bg-light">
                    <div class="card-body">
                        <h5 class="card-title">Key Ressources</h5>
                        <p class="card-text">Find some more information, guidelines, tools, etc. here.</p>
                        <a href="#" class="btn btn-primary">Start Canvas Tool Key Ressources</a>
                    </div>
                </div>
              </td>
              <td colspan="2">
                <div class="card bg-light">
                    <div class="card-body">
                        <h5 class="card-title">Channels</h5>
                        <p class="card-text">Find some more information, guidelines, tools, etc. here.</p>
                        <a href="#" class="btn btn-primary">Start Canvas Tool Channels</a>
                    </div>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="3">
                <div class="card bg-light">
                    <div class="card-body">
                        <h5 class="card-title">Cost Structure</h5>
                        <p class="card-text">Find some more information, guidelines, tools, etc. here.</p>
                        <a href="#" class="btn btn-primary">Start Canvas Tool Cost Structure</a>
                    </div>
                </div>
              </td>
              <td colspan="3">
                <div class="card bg-light">
                    <div class="card-body">
                        <h5 class="card-title">Cost Structure</h5>
                        <p class="card-text">Find some more information, guidelines, tools, etc. here.</p>
                        <a href="#" class="btn btn-primary">Start Canvas Tool Cost Structure</a>
                    </div>
                </div>
              </td>
            </tr>
        </tbody>
      </table>
          <!-- /Canvas -->
</div>
</div>

{% endblock %}
